:root {
  --gray-50: 249, 250, 251;
  --gray-100: 243, 244, 246;
  --gray-200: 229, 231, 235;
  --gray-300: 209, 213, 219;
  --gray-400: 156, 163, 175;
  --gray-500: 107, 114, 128;
  --gray-600: 75, 85, 99;
  --gray-700: 55, 65, 81;
  --gray-800: 31, 41, 55;
  --gray-900: 17, 24, 39;

  --pink-50: 253, 242, 248;
  --pink-100: 252, 231, 243;
  --pink-200: 251, 207, 232;
  --pink-300: 249, 168, 212;
  --pink-400: 244, 114, 182;
  --pink-500: 236, 72, 153;
  --pink-600: 219, 39, 119;
  --pink-700: 190, 24, 93;
  --pink-800: 157, 23, 77;
  --pink-900: 131, 24, 67;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track hr {
  background: rgb(var(--gray-900));
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--pink-700));
}

::webkit-scrollbar-corner {
  background: rgb(var(--pink-700));
}

button {
  position: relative;
}

input {
  vertical-align: middle;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}
input[type="checkbox"] {
  appearance: none;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  /* flex-shrink: 0; */
  height: 0.75rem;
  width: 0.75rem;
  background-color: rgb(var(--pink-600));
  border-radius: 10%;
}
input[type="checkbox"]:checked {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg"><path d="M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z"/></svg>');
}

textarea {
  tab-size: 4;
  white-space: pre;
  word-wrap: normal;
  vertical-align: middle;
}

textarea.success {
  border-color: #8b8 !important;
}

textarea.fail {
  border-color: #f00 !important;
  background-color: rgba(255, 0, 0, 0.05);
}

textarea,
input {
  outline: none;
} /* osx */

.Input {
  background: rgb(var(--gray-700));
  color: white;
  border-radius: 0.25rem;
  height: 1.25rem;
}

.Text {
  color: white;
}

.Select {
  background: rgb(var(--gray-700));
  color: white;
}

.Select > option {
  background: rgb(var(--gray-700));
}

.Button {
  background: rgb(var(--gray-800));
}

.Panel {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  /* No support for these yet */
  -o-user-select: none;
  user-select: none;
}

.TabbedPanel {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  /* No support for these yet */
  -o-user-select: none;
  user-select: none;
  position: relative;
  display: block;
  width: 100%;
}

.TabbedPanel .Tabs {
  position: relative;
  display: block;
  width: 100%;
}

.TabbedPanel .Tabs .Tab {
  padding: 10px;
  text-transform: uppercase;
}

.TabbedPanel .Tabs .Panels {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

/* Listbox */
.Listbox {
  color: #444;
  background-color: #fff;
  padding: 0;
  width: 100%;
  min-height: 140px;
  font-size: 12px;
  cursor: default;
  overflow: auto;
}

.Listbox .ListboxItem {
  padding: 6px;
  color: #666;
  white-space: nowrap;
}

.Listbox .ListboxItem.active {
  background-color: rgba(0, 0, 0, 0.04);
}

/* CodeMirror */

.CodeMirror {
  position: absolute !important;
  top: 37px;
  width: 100% !important;
  height: calc(100% - 37px) !important;
}

.CodeMirror .errorLine {
  background: rgba(255, 0, 0, 0.25);
}

.CodeMirror .esprima-error {
  color: #f00;
  text-align: right;
  padding: 0 20px;
}

/* outliner */

#outliner .opener {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0px 4px;
  vertical-align: top;
  text-align: center;
}

#outliner .opener.open:after {
  content: "−";
}

#outliner .opener.closed:after {
  content: "+";
}

#outliner .option {
  border: 1px solid transparent;
}

#outliner .option.drag {
  border: 1px dashed #999;
}

#outliner .option.dragTop {
  border-top: 1px dashed #999;
}

#outliner .option.dragBottom {
  border-bottom: 1px dashed #999;
}

#outliner .type {
  display: inline-block;
  width: 14px;
  height: 14px;
  color: #ddd;
  text-align: center;
}

#outliner .type:after {
  content: "●";
}

/* */

#outliner .Scene {
  color: #8888dd;
}

#outliner .Camera {
  color: #dd8888;
}

#outliner .Light {
  color: #dddd88;
}

/* */

#outliner .Object3D {
  color: #aaaaee;
}

#outliner .Mesh {
  color: #8888ee;
}

#outliner .Line {
  color: #88ee88;
}

#outliner .LineSegments {
  color: #88ee88;
}

#outliner .Points {
  color: #ee8888;
}

/* */

#outliner .Geometry {
  color: #aaeeaa;
}

#outliner .Material {
  color: #eeaaee;
}

/* */

#outliner .Script:after {
  content: "◎";
}

/*  */

button {
  color: #555;
  background-color: #ddd;
  border: 0px;
  margin: 0px; /* GNOME Web */
  padding: 5px 8px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: rgb(var(--gray-600));
}

button.selected {
  background-color: rgb(var(--gray-600));
}

input,
textarea {
  border: 1px solid transparent;
  color: #444;
}

input.Number {
  color: rgb(var(--pink-500)) !important;
  font-size: 13px;
  font-weight: 600;
  border: 0px;
  padding: 2px;
}

select {
  color: #666;
  background-color: #ddd;
  border: 0px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

select:hover {
  background-color: rgb(var(--gray-600));
}

/* UI */

#resizer {
  position: absolute;
  top: 32px;
  right: 295px;
  width: 5px;
  bottom: 0px;
  /* background-color: rgba(255,0,0,0.5); */
  cursor: col-resize;
}

#viewport {
  position: absolute;
  top: 32px;
  left: 0;
  right: 300px;
  bottom: 0;
}

#viewport #info {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  pointer-events: none;
}

#script {
  position: absolute;
  top: 32px;
  left: 0;
  right: 300px;
  bottom: 0;
  opacity: 0.9;
}

#player {
  position: absolute;
  top: 32px;
  left: 0;
  right: 300px;
  bottom: 0;
}

#menubar {
  position: absolute;
  width: 100%;
  height: 32px;
  background: rgb(var(--gray-900));
  padding: 0;
  margin: 0;
  right: 0;
  top: 0;
}

#menubar .menu {
  float: left;
  cursor: pointer;
  padding-right: 8px;
}

#menubar .menu.right {
  float: right;
  cursor: auto;
  padding-right: 0;
  text-align: right;
}

#menubar .menu.right .Text {
  color: white;
}

#menubar .menu.right .title {
  width: 0;
  padding: 8px 0;
  visibility: hidden;
}

#menubar .menu .title {
  display: inline-block;
  color: white;
  margin: 0;
  padding: 8px;
  line-height: 16px;
}

#menubar .menu .options {
  position: fixed;
  display: none;
  padding: 5px 0;
  background: rgb(var(--gray-800));
  width: 150px;
  max-height: calc(100% - 80px);
  overflow: auto;
}

#menubar .menu:hover .options {
  display: block;
}

#menubar .menu .options hr {
  border-color: rgb(var(--gray-600));
}

#menubar .menu .options .option {
  color: white;
  background-color: rgb(var(--gray-800));
  padding: 5px 10px;
  margin: 0 !important;
}

#menubar .menu .options .option:hover {
  color: #fff;
  background-color: #08f;
}

#menubar .menu .options .option:active {
  color: #666;
  background: transparent;
}

#menubar .menu .options .inactive {
  color: #bbb;
  background-color: transparent;
  padding: 5px 10px;
  margin: 0 !important;
}

#sidebar {
  position: absolute;
  right: 0;
  top: 32px;
  bottom: 0;
  width: 300px;
  background: rgb(var(--gray-800));
  overflow: auto;
}

#sidebar .Panel {
  color: rgb(var(--gray-800));
  padding: 10px;
  /* border-top: 1px solid #ccc; */
}

#sidebar .Panel.collapsed {
  margin-bottom: 0;
}

#sidebar .Row {
  min-height: 20px;
  margin-bottom: 10px;
}

#sidebar canvas {
  vertical-align: middle;
}

#tabs {
  background-color: #ddd;
  /* border-top: 1px solid #ccc; */
}

#tabs span {
  color: #aaa;
  border-right: 1px solid #ccc;
  padding: 10px;
}

#tabs span.selected {
  color: #888;
  background-color: #eee;
}

#toolbar {
  position: absolute;
  left: 10px;
  bottom: 42px;
  width: 32px;
  text-align: center;
  backdrop-filter: blur(8px);
}

#toolbar button,
#toolbar input {
  background: rgba(var(--gray-900), 0.5);
  height: 32px;
}

#toolbar .Button.selected {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(8px);
}

#toolbar .Button.selected svg {
  fill: black;
}

#toolbar button svg {
  width: 16px;
  fill: white;
  opacity: 1;
}

.Outliner {
  color: #444;
  background-color: rgb(var(--gray-700));
  padding: 0;
  width: 100%;
  height: 140px;
  font-size: 12px;
  cursor: default;
  overflow: auto;
  resize: vertical;
  outline: none !important;
}

.Outliner .option {
  padding: 4px;
  color: white;
  white-space: nowrap;
}

.Outliner .option:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.Outliner .option.active {
  background-color: rgba(0, 0, 0, 0.04);
}

.TabbedPanel .Tabs {
  background-color: rgb(var(--gray-700));
  /* border-top: 1px solid #ccc; */
}

.TabbedPanel .Tab {
  color: #aaa;
  /* border-right: 1px solid #ccc; */
}

.TabbedPanel .Tab.selected {
  color: white;
  background-color: rgb(var(--gray-700));
}

.Listbox {
  color: #444;
  background-color: #fff;
}

.Panel {
  color: rgb(var(--gray-800));
}

/* */

@media all and (max-width: 600px) {
  #resizer {
    display: none;
  }

  #menubar .menu .options {
    max-height: calc(100% - 372px);
  }

  #menubar .menu.right {
    display: none;
  }

  #viewport {
    left: 0;
    right: 0;
    top: 32px;
    height: calc(100% - 352px);
  }

  #script {
    left: 0;
    right: 0;
    top: 32px;
    height: calc(100% - 352px);
  }

  #player {
    left: 0;
    right: 0;
    top: 32px;
    height: calc(100% - 352px);
  }

  #sidebar {
    left: 0;
    width: 100%;
    top: calc(100% - 320px);
    bottom: 0;
  }
}
